* {
    margin: 0;
    padding: 0;
}

/* Row-1 Start */
#row-1 {
    width: 100%;
    height: 730px;
    background: url(/images/top\ bg.jpg);
    background-size: cover;
}

.logo {
    width: 30%;
    height: 100%;
    padding-left: 110px;
    padding-top: 20px;
    float: left;
}

.logo img {
    display: inline;
}

.menu ul {
    overflow: auto;
}

.menu ul li {
    list-style: none;
    float: left;
    padding-right: 25px;
    padding-top: 40px;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#port {
    padding-right: -10px;
}

.main-content {
    text-align: center;
    margin-top: 100px;
}

.main-content h2 {
    color: white;
    font-size: 40px;
    padding-top: 54px;
    margin-bottom: 30px;
}

.main-content h1 {
    color: white;
    border: 2px solid white;
    font-size: 100px;
    padding: 20px 25px;
    display: inline;
}
.main-content p{
    color: white;
    font-size: 35px;
    padding-top: 25px;
}
.main-content h3{
    font-size: 100px;
    padding-top: 50px;
    color: white;
}

/* Row-1 End */

/* Row-2 Start */
/* Row-2 End */